<launch>

    <arg name="config" default="$(find sim_sample_planning_ros_tool)/launch/params/planner_rviz_parameters.yaml"/>
    <arg name="nodelet_manager_name" default="nodelet_manager_planner_rviz"/>
    <arg name="start_nodelet_manager" default="true"/>
    <arg name="nodelet_name" default="planner_rviz"/>

    <!-- Nodelet manager (if enabled) -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen"
          if="$(arg start_nodelet_manager)"/>

    <!-- PlannerRviz -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_name)"
          args="load sim_sample_planning_ros_tool/PlannerRvizNodelet $(arg nodelet_manager_name)" output="screen" required="true">
        <rosparam command="load" file="$(arg config)"/>
    </node>

</launch>
